/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { 
    /* background-color: #cacaca; */
    background-image: url("./assets/images/mal10.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    
}
