<div class="login-page">
  <div style="margin-left: 65%; margin-top: 10%">
    <button
      class="mat-elevation-z12"
      color="warn"
      mat-raised-button
      (click)="back()"
    >
      <i class="bi bi-arrow-left"></i>
      View Q&A
    </button>
  </div>
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center"
      >Admin SignIn/SignUp</mat-card-title
    >
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form #adminform="ngForm" (ngSubmit)="login()">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                [(ngModel)]="admin.email"
                name="email"
                #email="ngModel"
              />
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="4"
                [(ngModel)]="admin.password"
                name="password"
                #password="ngModel"
              />
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 4
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              type="submit"
              [disabled]="adminform.form.invalid"
              color="primary"
              class="login-button"
            >
              Sign In
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form #newAdminform="ngForm" (ngSubmit)="register()">
            <mat-form-field>
              <input
                matInput
                placeholder="admin Name"
                required
                [(ngModel)]="newAdmin.adminname"
                name="name"
                #adminname="ngModel"
              />
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="adminname.invalid">
                adminname is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                [(ngModel)]="newAdmin.email"
                name="email"
                #email="ngModel"
              />
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="4"
                [(ngModel)]="newAdmin.password"
                name="password"
                #password="ngModel"
              />
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of minimum length 4
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              [disabled]="newAdminform.form.invalid"
              color="primary"
              class="login-button"
            >
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
